.doctor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #df98c3;
  border-style: solid;
  border-radius: 20px;
  margin: 5px;
  margin-bottom: 10px;
  padding: 20px;
}

.doctor-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #d4e7f4;
  border-radius: 20px;
  padding: 15px;
}

.doctor-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.doctor-name {
  color: #e830a1;
  font-size: 25px;
  margin-bottom: 5px;
}

.doctor-text {
  font-size: 22px;
  color: #2574ac;
  text-align: center;
  line-height: 1.5;
  font-family: sans-serif;
}
